.custom-tooltip-container {
    position: relative;
    display: inline-block;
  }
  
  .custom-tooltip {
    position: absolute;
    top: 30px; /* Position above the element */
    left: 140%;
    transform: translateX(-50%);
    background-color: #4e4d4d;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    padding: 5px;
    z-index: 100;
    white-space: nowrap;
    margin-bottom: 5px; /* Space between the tooltip and the element */
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
  }
  
  .custom-tooltip-container:hover .custom-tooltip {
    opacity: 1;
  }
  